#btn-panel {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;

    margin: 0rem !important;
    width: 100%;
    
    padding: .75rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;

    border-radius: 50px !important;
    border: 2px solid white;

    cursor: pointer;

}

#btn-link {
    height: 100% !important;
    display: block !important;

    padding-top: .5rem;
    padding-bottom: .5rem;

    display: flex;
}