#game {
    justify-content: space-between;
}

#game-footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 3fr 1fr;

    grid-template-areas: "input next"
        "guesses skip";

    width: 100%;
}

#next-button {
    grid-area: next;
}

#skip-button {
    grid-area: skip;
}

#next-button #btn-panel,
#skip-button #btn-panel {
    border-radius: 4 !important;

    margin: 1rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

#next-button #btn-link,
#skip-button #btn-link {
    padding: 0rem !important;
    margin-left: 1rem;
    padding: 0rem !important;
}

#guesses {
    text-align: left;
    align-self: first baseline;
}

#pokemonInput {
    height: 30px;
    font-size: 1rem;
    padding-left: 1rem;
    align-self: center;
}

#hint-area {
    width: 100% !important;
}

#hint-notif {
    width: 100%;
    justify-self:first baseline !important;
}

.pkmn-img{
    max-width: 200px !important;
    max-height: 200px !important;

}

.img-hidden{
    filter: brightness(0);
}